services:
  backend:
    image: adityaravi8/workout-tracker:backend
    build: ./backend
    env_file: ./backend/.env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    image: adityaravi8/workout-tracker:frontend
    build: ./client
    env_file: ./client/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
