body {
    background-color: lightgreen;
  }
  
  .container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table-field {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-field th, .table-field td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
  }
  
  .table-field th {
    background-color: teal;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  .table-field td {
    background-color: beige;
    color: black;
  }
  
  .table-field tr:nth-child(even) {
    background-color: lightgreen;
  }
  
  .table-field tr:hover {
    background-color: #e9e9e9;
  }
  
  button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  button:hover {
    background-color: darkslategray;
  }
  
  button:active {
    background-color: #333;
  }
  
  button + button {
    margin-left: 10px;
  }
  
  .edit-form {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-form h3 {
    margin-bottom: 20px;
  }
  
  .edit-form form {
    width: 100%;
  }
  
  